@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 16px;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0px 10px;
}

.btn {
  background-color: #EFBD2E;
  padding: 20px 40px;
  border-radius: 50px;
  text-decoration: none;
  color: #000;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 38px 13px 0px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  margin-right: 40px;
}

.menu__item:last-child {
  margin-right: 0px;
}

.menu__link {
  text-decoration: none;
  color: #000;
}

.work {
  margin-right: -210px;
}

.work__link {
  display: inline-block;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  margin-bottom: 10px;
}

.work__text {
  text-align: right;
  font-size: 12px;
  line-height: 12px;
}

.flag {
  position: relative;
}

.flag::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 10px;
  background-image: url(../img/Icons/arrow.svg);
  background-repeat: no-repeat;
  top: 5px;
  left: 29px;
}

.gazelkin {
  background-color: #F6F6F6;
  position: relative;
  background-image: url(../img/bgcar.png);
  background-repeat: no-repeat;
  background-position: right 0;
}

.gazelkin__inner {
  padding: 80px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gazelkin__car {
  margin-left: -60px;
}

.questionnaire__text {
  position: relative;
  padding-left: 21px;
  margin-bottom: 101px;
}

.questionnaire__text::before {
  content: '';
  position: absolute;
  width: 11px;
  height: 20px;
  background-image: url(../img/Icons/place.svg);
  left: 0px;
  top: -3px;
}

.questionnaire__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 10px;
}

.questionnaire__subtitle {
  font-size: 22px;
  line-height: 31px;
  white-space: nowrap;
}

.questionnaire__list {
  margin: 40px 0px 60px 0px;
}

.questionnaire__item {
  position: relative;
  padding-left: 16px;
  margin-bottom: 11px;
}

.questionnaire__item:last-child {
  margin-bottom: 0px;
}

.questionnaire__item::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: red;
  top: 4px;
  left: 0px;
  border-radius: 50%;
}
