@import "reset.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::after,
*::before {
   box-sizing: border-box;
}

body {
   font-size: 16px;
   line-height: 16px;
   font-family: 'Roboto', sans-serif;
}
.container {
   max-width: 1260px;
   margin: 0 auto;
   padding: 0px 10px;
}

.btn {
   background-color: #EFBD2E;
   padding: 20px 40px;
   border-radius: 50px;
   text-decoration: none;
   color: #000;
}

.header {

   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 13px 38px 13px 0px;
   }
}

.menu {

   &__list {
      display: flex;
   }

   &__item {
      margin-right: 40px;
      &:last-child{
         margin-right: 0px;
      }
   }

   &__link {
      text-decoration: none;
      color: #000;;
   }
}

.work {
   margin-right: -210px;
   &__link {
      display: inline-block;
      font-weight: 700;
      color: #000;
      text-decoration: none;
      margin-bottom: 10px;
   }

   &__text {
      text-align: right;
      font-size: 12px;
      line-height: 12px;
   }
}

.flag {
   position: relative;
   &__img {

   }
   &::after {
      content: '';
      position: absolute;
      height: 5px;
      width: 10px;
      background-image: url(../img/Icons/arrow.svg);
      background-repeat: no-repeat;
      top: 5px;
      left: 29px;
   }
}


.gazelkin {
   background-color: #F6F6F6;
   position: relative;
   background-image: url(../img/bgcar.png);
   background-repeat: no-repeat;
   background-position: right 0;
   &__inner {
      padding: 80px 0px;
      display: flex;
   }

   &__car {
      margin-left: -60px;
   }
}
.questionnaire {
   &__text {
      position: relative;
      padding-left: 21px;
      margin-bottom: 101px;
      &::before {
         content: '';
         position: absolute;
         width: 11px;
         height: 20px;
         background-image: url(../img/Icons/place.svg);
         left: 0px;
         top: -3px;
      }
   }

   &__title {
      font-weight: 700;
      font-size: 48px;
      line-height: 48px;
      margin-bottom: 10px;
   }

   &__subtitle {
      font-size: 22px;
      line-height: 31px;
      white-space: nowrap;
   }

   &__list {
      margin: 40px 0px 60px 0px;
   }

   &__item {
      position: relative;
      padding-left: 16px;
      margin-bottom: 11px;
      &:last-child {
         margin-bottom: 0px;
      }
      &::before {
         content: '';
         position: absolute;
         width: 6px;
         height: 6px;
         background-color: red;
         top: 4px;
         left: 0px;
         border-radius: 50%;
      }
   }

   &__button {

   }
}
